*.env
.venv/
*venv_producer/
*venv_consumer/
pyproject.toml
poetrry.lock

# python
__pycache__/
*.pyc

# personal
data/
credentials/
manual.*
archive/
*archive/

# mac
*.DS_Store

# terraform
.terraform
.terraform.tfstate.lock.info
*.tfstate.*
